body {
  padding: 50px;
  font: 16px "Helvetica Neue", Helvetica, Arial;
}
a {
  color: #107aff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 a {
  font-size: 16px;
}
.error {
	color: red
}

.success {
	color: green;
}
#page-wrapper {
	width: 800px;
	background: #cdcdcd;
	border: 1px solid #000;
	margin:auto;
	padding: 16px;
}
#chat-content-wrapper {
	display:block;
	height: 400px;
}
#list-user-wrapper,
#list-chat-wrapper {
	width: 380px;
	float:left;
	border: 1px solid #000;
	height: 100%;
	padding: 0 8px 0 8px;
}