<% var title = 'Sign up an account' %>
<% include head %>
<h1>Simple chat</h1>
<%= message %>
<p>
Welcome <%= user.first_name %> <%= user.last_name %> to simple chat app, click to <a href="/logout">logout</a>
</p>
<div id="chat-content-wrapper">
<div id="list-user-wrapper">
	<ul id="list-user" >
	</ul>
</div>
<div id="list-chat-wrapper">
	<input type="hidden" id="from_user" value="<%= user.name %>" />
	<input type="hidden" id="to_user" value="" />
	<input type="text" id="msg"></input><input type="submit" value="Click me" id="send-message" />
	</p>
      <p id="log"></p>
      <p id="data_recieved"></p>
      </div>
</div>
<% include foot %>
